PORT=5001
DATABASE_URL=postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE_NAME
JWT_SECRET=your_jwt_secret
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=your_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=your_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=your_CLOUDINARY_API_SECRET

LOG_REQUESTS=false  #don't need logs

SMTP_HOST=SMTP_HOST
SMTP_PORT=SMTP_PORT

SMTP_USER=SMTP_USER
SMTP_PASS=SMTP_PASS
SMTP_FROM=SMTP_FROM